.header {
  display: flex;
  justify-content: right;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}

img {
  height: 75px;
  margin: 0px;
  padding-left: 5px;
}
